{% extends "base.html" %}
{% block content %}
    <h2>{{page_title}}</h2>
    <p>
        During the Great Calamity, a small Guardian awakens within Hyrule Castle, caused by Zelda's power awakening. Seeing the
        destruction being caused, it escapes through a time portal, followed unbeknownst by a portion of Calamity Ganon's
        Malice. Arriving in this new timeline just before the Calamity began, the Guardian is found by Link during battle. When
        it uses Impa's Sheikah Slate to raise a Sheikah Tower, they take it to Sheikah engineers Purah and Robbie for study,
        learning it came from a future in which Ganon reawakens. Being informed of this, King Rhoam sends Link and Zelda to meet
        with the four candidates selected to pilot the Divine Beasts – Mipha of the aquatic Zora, Daruk of the mountainous
        Goron, Urbosa of the desert-dwelling Gerudo, and Revali of the birdlike Rito.
    </p>

    {% for member in characters %}

        {% if loop.index % 2 != 0 %}

            <div class="row featurette">
                <div class="col-md-7">
                    <h3><a href="/about/{{member.url}}">{{loop.index}}. {{member.name}}</a></h3>
                    <p>
                        {{member.description}}
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{member.image_source}}" alt="" class="featurette-image image-responsive">
                </div>
            </div>

        {% else %}

            <div class="row featurette">                
                <div class="col-md-5">
                    <img src="{{member.image_source}}" alt="" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{member.url}}">{{loop.index}}. {{member.name}}</a></h3>
                    <p>
                        {{member.description}}
                    </p>
                </div>
            </div>
        
        {% endif %}

        {% if loop.index != loop.length %}

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}


{% endblock %}