{% extends "base.html" %}
{% block content %}
    <h2>About Page</h2>
    <p>
        During the Great Calamity, a small Guardian awakens within Hyrule Castle, caused by Zelda's power awakening. Seeing the
        destruction being caused, it escapes through a time portal, followed unbeknownst by a portion of Calamity Ganon's
        Malice. Arriving in this new timeline just before the Calamity began, the Guardian is found by Link during battle. When
        it uses Impa's Sheikah Slate to raise a Sheikah Tower, they take it to Sheikah engineers Purah and Robbie for study,
        learning it came from a future in which Ganon reawakens. Being informed of this, King Rhoam sends Link and Zelda to meet
        with the four candidates selected to pilot the Divine Beasts – Mipha of the aquatic Zora, Daruk of the mountainous
        Goron, Urbosa of the desert-dwelling Gerudo, and Revali of the birdlike Rito.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Link</h3>
            <p>
                A skilled swordsman serving the royal family of Hyrule. Born to a line of imperial guards, he is renowned for his
                fighting skills and courage.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://d2skuhm0vrry40.cloudfront.net/2020/articles/2020-11-23-15-46/HW_Characters_13.jpg" alt="Link">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://d2skuhm0vrry40.cloudfront.net/2020/articles/2020-11-23-15-46/HW_Characters_11.jpg" alt="Zelda">
        </div>
        <div class="col-md-7">
            <h3>Zelda</h3>
            <p>
                The Princess of Hyrule, in whose veins flows the blood of the goddess. She is devoted to researching ancient technology
                and awakening her sacred power.
            </p>
        </div>
    </div>

    <div class="row featurette">
        
        <div class="col-md-7">
            <h3>Impa</h3>
            <p>
                The adviser to Hyrule's royal family and a revered member of the sheikah tribe. She is dedicated to her work and known
                for being steadfast and diligent. She can be distractible at times.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://d2skuhm0vrry40.cloudfront.net/2020/articles/2020-11-23-15-46/HW_Characters_12.jpg" alt="Impa">
        </div>
    </div>
{% endblock %}